
.all-collab {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    /* min-height: 100vh; */
    display: grid;
    align-content: center;
    gap: 2rem;
    padding-top: 2rem;
    font-family: "Jura", sans-serif;
    color: var(--color);
    background: var(--bgColor);
}

.all-collab h1 {
    text-align: center;
}

.all-collab ul {
    width: min(60rem, 90%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.all-collab ul li {
    max-width: 12rem;
    justify-self: center;
    display: grid;
    grid-template:
        "icon"
        "line"
        "dot"
        "title"
        "descr" 1fr;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
}

.all-collab ul li .icon {
    grid-area: icon;
    width: 10rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    /* color: white; */
    font-size: 2.5rem;
    border: 0.4rem solid var(--bgColor);
    border-radius: 50%;
    background: var(--accent-color);
    box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
        inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
}

.all-collab ul li::before {
    content: "";
    grid-area: line;
    height: 2rem;
    border-right: 2px dotted currentColor;
}

.all-collab ul li::after {
    content: "";
    grid-area: dot;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent-color);
    justify-self: center;
    margin-bottom: 0.5rem;
}

.all-collab ul li .title {
    grid-area: title;
    margin-block: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.credits {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.credits a {
    color: var(--color);
}

@media screen and (max-width:567px) {
    .all-collab ul {
            padding-left: 0rem;
        }
    }